<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Http 的 get 和 post 请求</h4>
  </div>

  <div class="panel-body">
    <h4>name = {{ user.name }}</h4>
    <h4>age = {{ user.age }}</h4>
    <button class="btn btn-primary" (click)="getUserInfo()">get</button>
    <button class="btn btn-primary" (click)="updateUserInfo()">update</button>

    <h4>一般来说，要把 HTTP 作为一个服务放在 Service 层中，同时在 Service 层中对数据处理，错误异常处理等。所以就是说，组件是视图层，专门用来做数据展示，服务是逻辑层，用来做数据处理。</h4>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Http 的拦截器</h4>
  </div>

  <div class="panel-body">
    <h4>后续介绍</h4>
  </div>
</div>
