<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>表单</h4>
  </div>

  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        FormModule 是模板驱动表单。
        ReactiveFormModule 是响应式表单。
      </li>
    </ul>

    <div class="col-md-6">
      <app-reactive-form></app-reactive-form>
    </div>
    <div class="col-md-6">
      <app-template-driven-form></app-template-driven-form>
    </div>

  </div>

  <div class="panel-footer">

  </div>
</div>
