<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>生命周期<b>父组件</b></h4>
  </div>

  <div class="panel-body">
    <div class="col-md-6">
      <app-life-cycle-child1></app-life-cycle-child1>
    </div>

    <div class="col-md-6">
      <app-life-cycle-child2></app-life-cycle-child2>
    </div>

    <div class="col-md-10">
      <ul class="list-group">
        <li class="list-group-item">
          <b>组件生命周期钩子函数执行顺序</b>
        </li>
        <li class="list-group-item">
          1. 先执行<b>父组件</b>的 <code>ngOnInit</code> 和 <code>ngDoCheck</code> 钩子函数
        </li>
        <li class="list-group-item">
          2. 再执行<b>父组件</b>的 <code>ngAfterViewInit</code> 和 <code>ngAfterViewChecked</code> 钩子函数
        </li>
        <li class="list-group-item">
          3. 再执行<b>子组件</b>的生命周期钩子函数
          <ul class="list-group">
            <li class="list-group-item">
              3.1 先执行<b>子组件 1 </b>的 <code>ngOnInit</code> 和 <code>ngDoCheck</code> 钩子函数
            </li>
            <li class="list-group-item">
              3.2 再执行<b>子组件 2 </b>的 <code>ngOnInit</code> 和 <code>ngDoCheck</code> 钩子函数
            </li>
            <li class="list-group-item">
              3.3 再执行<b>子组件 1 </b>的 <code>ngAfterContentInit</code> 和 <code>ngAfterContentChecked</code> 钩子函数
            </li>
            <li class="list-group-item">
              3.4 再执行<b>子组件 2 </b>的 <code>ngAfterContentInit</code> 和 <code>ngAfterContentChecked</code> 钩子函数
            </li>
            <li class="list-group-item">
              3.5 再执行<b>子组件 1 </b>的 <code>ngAfterViewInit</code> 和 <code>ngAfterViewChecked</code> 钩子函数
            </li>
            <li class="list-group-item">
              3.6 再执行<b>子组件 2 </b>的 <code>ngAfterViewInit</code> 和 <code>ngAfterViewChecked</code> 钩子函数
            </li>
          </ul>
        </li>
        <li class="list-group-item">
          4. 最后执行<b>父组件</b>的 <code>ngAfterViewInit</code> 和 <code>ngAfterViewChecked</code> 钩子函数
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4><b>父子组件</b>视图更新</h4>
  </div>

  <div class="panel-body">
    <ul class="list-group">

      <li class="list-group-item">
        <label for="username">
          父组件的 username: <input type="text" id="username" [(ngModel)]="username">
        </label>
      </li>

      <li class="list-group-item">
        <app-life-cycle-child3></app-life-cycle-child3>
      </li>

      <li class="list-group-item">
        视图更新，会重新调用对应<b>父子组件</b>的生命周期钩子函数
        <ul class="list-group">
          <li class="list-group-item">
            1. 先执行<b>父组件</b>的 <code>ngDoCheck</code> 和 <code>ngAfterContentChecked</code> 钩子函数
          </li>
          <li class="list-group-item">
            2. 先执行<b>子组件</b>的 <code>ngDoCheck</code> 、 <code>ngAfterContentChecked</code> 和
            <code>ngAfterViewChecked</code> 钩子函数
          </li>
          <li class="list-group-item">
            3. 最后执行<b>父组件</b>的 <code>ngAfterViewChecked</code> 钩子函数
          </li>
        </ul>
      </li>
    </ul>

  </div>

</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>
      <code>ngAfterViewInit()</code>和
      <code>ngAfterViewChecked()</code>
    </h4>
  </div>
  <div class="panel-body">

    <ul class="list-group">
      <li class="list-group-item">
        1. 不可以在
        <code>ngAfterViewInit()</code>和
        <code>ngAfterViewChecked()</code>函数里修改被绑定的属性，否则会报错
      </li>

      <li class="list-group-item">
        2. 在组件视图装配的时候调用这两个钩子函数
      </li>

      <li class="list-group-item">
        3. 视图装配这两个钩子的顺序是从<b>子组件</b>到<b>父组件</b>依次进行
      </li>

      <li class="list-group-item">
        4. 这个钩子函数也会被调用很多次，如果没有使用
        <code>OnPush</code>策略，所有实现了这个钩子的组件都会被调用
      </li>

    </ul>
  </div>
</div>
