<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>路由</h4>
  </div>

  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">1. 路由的基本配置与页面渲染</li>
      <li class="list-group-item">2. 路由激活和跳转，HTML 标签跳转和点击按钮跳转</li>
      <li class="list-group-item">3. 子路由</li>
      <li class="list-group-item">4. 路由路径参数，路由查询参数</li>
      <li class="list-group-item">5. 路由事件</li>
      <li class="list-group-item">6. 路由守卫</li>
    </ul>

    <h4>最简单的路由就是现在页面的切换，在左侧菜单栏之间互相切换。</h4>

  </div>
</div>
