<nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Angular Records</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav"></ul>
    </div>
  </div>
</nav>

<div id="container">
  <div class="col-md-2">
    <ul class="list-group" id="aside">
      <li *ngFor="let route of routes; let key = index;">
        <a [class]="route.class"
           [routerLinkActive]="route.routerLinkActive"
           [routerLinkActiveOptions]="routerLinkActiveOptions"
           [routerLink]="[route.routerLink]">{{key + 1}}. {{ route.name }}</a>
      </li>
    </ul>
  </div>

  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>

</div>
