<div class="panel panel-primary">
  <div class="panel-heading">指令的使用</div>

  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <h4 [ngClass]="ngClass">NgClass 的用法</h4>
        <button class="btn btn-primary" (click)="updateNgClassBlue()">修改为蓝色</button>
        <button class="btn btn-primary" (click)="updateNgClassRed()">修改为红色</button>
      </li>

      <li class="list-group-item">
        <h4 [ngStyle]="ngStyle">NgStyle 的用法</h4>
        <button class="btn btn-primary" (click)="updateNgStyleBlue()">修改为蓝色</button>
        <button class="btn btn-primary" (click)="updateNgStyleRed()">修改为红色</button>
      </li>

      <li class="list-group-item">
        <h4 *ngIf="ngIf">NgIf 的用法</h4>
        <button class="btn btn-primary" (click)="updateNgIf()">显示/隐藏</button>
      </li>

      <li class="list-group-item">
        <h4>NgFor 的用法</h4>
        <div *ngFor="let item of userList; let key = index;">
          <span>{{ item.name }}</span>
          <button class="btn btn-primary" (click)="getNgForItem(item)">获取 item 的值</button>
        </div>
      </li>

      <li class="list-group-item">
        <label for="green"><input type="radio" name="colors" id="green" (click)="color='green'">green</label>
        <label for="yellow"><input type="radio" name="colors" id="yellow" (click)="color='yellow'">yellow</label>
        <label for="red"><input type="radio" name="colors" id="red" (click)="color='red'">red</label>
        <h4 [appFontColor]="color" >自定义指令字体颜色 fontColor</h4>
        <h4 [appFontColor]="color" defaultColor="violet">自定义指令字体颜色 fontColor</h4>
      </li>

    </ul>
  </div>

</div>
