/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.btn {
  margin: 0 5px;
}

h4 {
  line-height: 160%;
}

li {
  font-size: 18px;
}

.btn {
  font-size: 16px;
}

.panel {
  .panel-heading,
  .panel-body {
    font-size: 18px;
  }
}
